body
{
	background-color: #212529;
	font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
	font-size: 25px;
	font-weight: 600;
/*	text-align: left;*/
}
.nav-red{
	color: #eb0514;
}


/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
/*  width: 20%;*/
/*  background-color: #212529;*/
  position: fixed;
  height: 100%;
  overflow: auto;
  right: 0;
  top: 0;
  margin-right: 80px;
/*  text-align: right;*/
}

/* Sidebar links */
.sidebar a{
  font-weight: 500;
  font-size: 14px;
  display: block;
  color: #fff;
  padding: 16px;
  text-decoration: none;
}

.sidebar a .menutext{
  visibility: hidden;
  opacity: 0;
  font-weight: 700;
  transition: opacity 0.5s ease-in-out;
}

.sidebar a:hover .menutext {
  visibility: visible;
  opacity: 1; 
}


/* Active/current link */
.sidebar a.active {
/*  background-color: #212529;*/
  color: #eb0514;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: #eb0514;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

 .intro-container
{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
} 

.intro-form
{
    min-width: 40%;
    padding: 20px;
} 
.intro-form h4
{
    color: whitesmoke;
} 
.intro-form input[type="text"]
{
    color: #eb0514;
} 

.intro-form input[type="text"]:focus {
  outline: none;
}

#name-inp {
    font-size: 35px;
    padding-left: 0;
    color: whitesmoke;
    border: none;
    background-color: #212529;
    border-bottom: 1px solid whitesmoke;
}

.home-container {
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    color: whitesmoke;
}

.home-container #user-name
{
  font-size: 100px;
  font-weight: 700;
}

.main-text-color
{
  color: #eb0514;
}

.home-nav {
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 5rem;
} 

.home-nav a{
    color: whitesmoke;
    text-decoration: none;
    background-color: transparent;
} 

.home-nav a:hover{
    color: #eb0514;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
} 

.about-container {
/*    height: 100vh;*/
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 30px;
    color: whitesmoke;
}
.about-container h6{
    font-size: 70px;
    font-weight: 700;
/*    letter-spacing: 5px;*/
}
.about-container h1{
    font-size: 160px;
    font-weight: 700;
/*    letter-spacing: 5px;*/
    color: #eb0514;

}

.about-container span{
    font-size: 40px;
    text-align: left;
    font-weight: 800;
    word-wrap: break-word;
    color: #eb0514;
}

.about-desc p
{
  font-size: 20px;
}

.skills-container
{
    height: 100vh;
    width: 100%;
    align-items: center;
    margin-top: 7rem;
}

.skills-container h1{
    font-size: 70px;
    font-weight: 700;
    text-align: center;
/*    letter-spacing: 5px;*/
    color: whitesmoke;

}
/*carousel start ------------------------------------------------*/
.carousel-container
{
  margin-top: 5rem;
}

.slick-slide {
    margin: 0px 20px;
}

/*.slick-slide img {
    width: 100%;
}*/

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
/*    padding: 100px;*/
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
/*    display: block;*/
    width: 80%;
    aspect-ratio: 3/2;object-fit: contain;
    height: auto;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/*carousel end ------------------------------------------------*/
/*.about-container #about-title
{
  z-index: 1;
}*/

/*.about-pic {
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  z-index: -1;
}*/

/* On screens that are less than 700px wide, make the sidebar into a topbar */
/*@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}*/

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 768px) {
 /* .sidebar a {
    display: none;
  }*/
#menumenu
{
  display: none;
}

}

