body
{
	background-color: #212529;
	font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
	font-size: 25px;
	font-weight: 600;
/*	text-align: left;*/
}
.nav-red{
	color: #eb0514;
}


/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
/*  width: 20%;*/
/*  background-color: #212529;*/
  position: fixed;
  height: 100%;
  overflow: auto;
  right: 0;
  top: 0;
  margin-right: 80px;
/*  text-align: right;*/
}

/* Sidebar links */
.sidebar a{
  font-weight: 500;
  font-size: 14px;
  display: block;
  color: #fff;
  padding: 16px;
  text-decoration: none;
}

.sidebar a .menutext{
  visibility: hidden;
  opacity: 0;
  font-weight: 700;
  transition: opacity 0.5s ease-in-out;
}

.sidebar a:hover .menutext {
  visibility: visible;
  opacity: 1; 
}


/* Active/current link */
.sidebar a.active {
/*  background-color: #212529;*/
  color: #eb0514;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: #eb0514;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

 .home-container
{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
} 

.home-form
{
    min-width: 40%;
    padding: 20px;
} 
.home-form h4
{
    color: whitesmoke;
} 
.home-form input[type="text"]
{
    color: #eb0514;
} 

.home-form input[type="text"]:focus {
  outline: none;
}

#name-inp {
    font-size: 35px;
    padding-left: 0;
    color: whitesmoke;
    border: none;
    background-color: #212529;
    border-bottom: 1px solid whitesmoke;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
/*@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}*/

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
/*    text-align: center;*/
    display: none;
  }
}

